html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
}

.passion-one {
  font-family: "Passion One", serif;
}

nav .gradient {
  display: flex;
}

.cont-prin {
  height: 100%;
}

.contenedor p,
label,
input {
  font-size: 12px;
  color: #2c2044;
}

input::placeholder {
  font-size: 13px;
  color: #69607b;
}
.contenedor h1,
.main-container h1,
.main-container-bloq h1 {
  color: #742384;
}

.btn-custom,
.btn-validacion {
  background-color: #10cbb4;
  border: none;
  color: white;
  font-size: 16px;
  width: 85%;
}

.btn-confirm,
.btn-cancel,
.btn-close {
  padding: 10px 20px;
  background-color: #10cbb4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

.btn-link {
  text-decoration: none;
  color: #10cbb4;
  font-weight: 700;
}
.btn-link:hover {
  color: #742384;
}
.login-question a,
p {
  font-size: 12px;
}
#signup-form {
  display: none;
}

#signin-form {
  display: block;
}

#signup-form,
input {
  width: 293px;
}

.sub-form {
  height: 400px;
}
.main-container {
  min-height: 180px;
  margin: 0px 18px;
  margin-top: 0;
}

#cont-verifica {
  border-radius: 15px;
  background-color: white;
  border: 0 solid #b9b4c4;
  box-shadow: 2px 2px 2px 1px rgba(41, 40, 40, 0.2);
  text-decoration: none;
  margin: 12px 16px;
  padding: 5%;
}

#cont-verifica h3 {
  color: #2c2044;
  font-size: 14px;
  font-weight: 650;
}
#cont-verifica p {
  color: #69607b;
  font-size: 12px;
}
.im-text {
  text-align: left !important;
}
.icon-tit {
  color: #10cbb4;
}

.icon-bloq {
  font-size: 36px;
}

.button {
  display: none;
  position: absolute;
  bottom: 9%;
  width: 77%;
}

#cont-verifica.selected {
  border-color: rgb(189 119 199);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.979);
  z-index: 1050;
}
#modal-bloqueo,
#modal-desbloqueo {
  display: none;
  position: fixed;
  top: 10%; /* Se inicia más arriba */
  left: 50%;
  transform: translateX(-50%); /* Solo se mueve horizontalmente */
  z-index: 1060;
  width: 90%;
  max-width: 400px; /* Limita el ancho */
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  height: auto; /* Se expande naturalmente */
  max-height: 80vh; /* Evita que sea demasiado grande */
  overflow-y: auto; /* Permite scroll solo si es necesario */
  display: flex;
  flex-direction: column; /* Asegura que el contenido se apile correctamente */
}

#modal-bloqueo h3,
#modal-desbloqueo h3 {
  padding: 50px 0px 20px;
  font-size: 26.8px;
  font-weight: 800;
}

#modal-bloqueo p,
#modal-desbloqueo p {
  font-size: 11px;
}

#modal-bloqueo label,
#modal-desbloqueo label {
  font-size: 13px;
}
#modal-bloqueo #si-btn {
  margin-left: 10px;
}

#modal-bloqueo li,
#modal-desbloqueo li {
  font-size: 13px;
  margin-bottom: 10px;
}

#modal-subir-imagen,
#modal-coincidencia,
#modal-confirmacion,
#modal-dni {
  z-index: 1060;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

#modal-bloqueo.show,
#modal-desbloqueo.show {
  display: block;
}

.modal-overlay.show {
  display: block !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #742384;
}

.close-btn:hover {
  color: #333;
}

.btn-close {
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 8px;
  margin-bottom: 10%;
  z-index: 2;
  cursor: pointer;
  background-color: #742384;
}

.modal-content h2 {
  margin-bottom: 45px;
  padding-top: 15px;
  font-weight: bolder;
  font-size: 22px;
  color: #2c2044;
}

.modal-content p {
  font-size: 11px;
  margin-bottom: 12px;
}

.options-btn-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  gap: 20px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
}
.option input {
  width: 20px;
  height: 20px;
}

.option label {
  font-size: 16px;
  cursor: pointer;
}

.modal-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-buttons button {
  padding: 8px 15px;
  border: none;
  background-color: #742384;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.modal-buttons button:hover {
  background-color: #9b2c8f;
}

.icon {
  width: 50px;
  height: auto;
  margin-top: 10px;
}

.success-icon {
  width: 80px;
  height: auto;
  animation: spin 2s infinite;
}

#btn-desbloq {
  bottom: 2%;
}

.main-container-bloq {
  margin-top: 15%;
  border-radius: 30px;
  padding: 10px;
}

.main-container-bloq h1 {
  color: #742384;
}

.success-icon {
  animation: spin 5s infinite;
  width: 30px;
  height: 40px;
}

.modal-content h1 {
  margin-top: 30px;
  margin-bottom: 35px;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  color: #2c2044;
}

@media (min-width: 1200px) {
  .contenedor,
  .main-container {
    border-radius: 30px;
    height: 600px;
    padding: 20px;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .cont-form {
    position: relative;
    bottom: 150%;
  }
  #signup-form {
    height: 30%;
  }

  .cont-prin {
    background: rgb(116 35 132);
  }

  .login-question a,
  p {
    margin-bottom: 20px;
  }
  form {
    height: 100px;
  }

  .main-container-bloq {
    margin-top: 8%;
    border-radius: 30px;
    padding: 20px;
    width: 40%;
  }
  .main-container-bloq h1 {
    padding-top: 20px;
  }
  .btn-validacion {
    position: relative;
    width: 50%;
    bottom: 450%;
    padding-top: 450px;
  }
  .modal-buttons button {
    height: 60px;
    width: 100px;
  }
  .modal-content h1 {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 26.8px;
    text-align: center;
    font-weight: bolder;
    color: #2c2044;
  }
  .modal-content p {
    font-size: 13px;
    margin-bottom: 12px;
  }
}
