* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
}
.roboto-serif {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
}

.passion-one {
  font-family: "Passion One", serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.btn-bloqueo {
  background-color: #10cbb4;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(41, 40, 40, 0.2);
  display: inline-block;
  animation: pulse 4s ease-in-out infinite;
  font-size: 14px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.principal {
  background: linear-gradient(140deg, #4b0082 51%, #00a896 85%);
  color: white;
  padding: 20px 20px;
  height: 440px;
}

.cont-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.principal h2 {
  font-size: 50px;
  padding-top: 8%;
}

.principal p {
  padding-top: 20px;
  font-size: 13px;
  margin-top: 20px;
  font-weight: 400;
}

.principal img {
  height: 190px;
}

.informativo {
  padding: 27px 30px;
}

.informativo .yapito-runner {
  height: 6%;
}
.informativo img {
  width: 60px;
  height: 70px;
}
.informativo .img-es {
  width: 40px;
  height: 50px;
}

.informativo .yapito-runner {
  height: 70px;
}

.informativo p {
  font-size: 12px;
  color: #39607b;
  padding-top: 5px;
}

.informativo span {
  display: block;
  color: #742384;
  font-weight: bold;
}

.informativo .title1 {
  color: #742384;
  display: inline;
}

.informativo .situaciones {
  margin-top: 30px;
}

.info-seguridad .text-security,
.carousel-reels {
  padding: 27px 30px;
  color: #2c2044;
}

.info-seguridad p {
  color: #69607b;
  font-size: 12px;
}
.info-seguridad img {
  width: 460px;
  max-width: 100%;
  height: auto;
  padding-right: 30px;
}

.info-seguridad a {
  background-color: #10cbb4;
  color: white;
  font-size: 12px;
}

.carousel-reels .description-reel {
  color: #69607b;
  font-size: 12px;
}

.carousel-reels h3 {
  color: #2c2044;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
}

.carousel {
  width: 70%;
  height: 400px;
}
.carousel button {
  width: 4%;
}

iframe {
  height: 380px;
}

footer {
  background: linear-gradient(13deg, #00a896 51%, #2c3e50 85%);
  padding-top: 20px;
  bottom: 0;
  height: 70%;
}
.part-1 {
  background-color: rgba(207, 203, 203, 0.363);
  color: white;
  width: 70%;
  font-size: 12px;
}

.part-1 i {
  font-size: 15px;
}

.part-1:hover {
  background-color: rgba(217, 217, 217, 0.7);
}

.iconsfooter i {
  color: white;
  font-size: 20px;
}

.part-3 {
  margin-top: 15px;
  color: white;
}

.part-3 .bi-book {
  font-size: 50px;
}
.part-3 p {
  font-size: 8px;
  color: rgba(217, 217, 217, 0.7);
}

.link-footer {
  display: block;
  color: white;
  font-size: 11px;
  margin-bottom: 8px;
  text-decoration: none;
  transition: color 0.3s;
}

.final-description {
  color: rgba(217, 217, 217, 0.7);
  font-size: 12px;
  margin-top: 8px;
  margin: 0;
  padding: 20px;
}
.situaciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.situaciones .card {
  flex: 1 1 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

/* Estilos personalizados para el modal */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.89);
  z-index: 1050;
}

.modal-custom {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1060;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/speed-line-002-2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 80%;
}
/* Overlay oscuro para mejorar la legibilidad del contenido */

.modal-custom.show {
  display: block;
}

.modal-overlay.show {
  display: block;
}

.modal-content-wrapper {
  text-align: center;
  position: relative;
  z-index: 1;
}

.modal-image {
  height: 120px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 60px;
}

.tit-modal {
  display: flex;
}

.modal-title {
  font-size: 1.25rem;
  margin-top: 30px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.btn-action {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-register {
  background-color: white;
  color: #2c2044;
  border: none;
}

.btn-register:active {
  color: white;
}

.btn-register:hover {
  background: linear-gradient(130deg, #4b0082 11%, #00a896 95%);
  color: white;
  font-weight: 500;
}

.btn-login {
  background-color: white;
  color: #2c2044;
  border: none;
}

.btn-login:hover {
  background: linear-gradient(130deg, #4b0082 11%, #00a896 95%);
  color: white;
  font-weight: 500;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-body {
  padding: 20px 15px;
}

.btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: white;
  opacity: 0.8;
  padding: 8px;
  border-radius: 50%;
  z-index: 2;
}

.btn-close:hover {
  opacity: 1;
}

@media (min-width: 1200px) {
  .navbar {
    padding: 1% 10%;
    height: 90px;
  }
  .logo-yape {
    height: 70px;
  }
  .btn-bloqueo {
    font-size: 22px;
    padding-top: 0;
  }
  .principal {
    height: 490px;
    margin-bottom: 2%;
  }
  .principal h2 {
    font-size: 78px;
    padding: 0 45px;
    padding-top: 3%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .principal .cont-principal {
    display: flex;
    justify-content: space-around;
  }
  .principal p {
    padding-top: 20px;
    font-size: 13px;
    margin-top: 20px;
    font-weight: 400;
  }
  .cont-principal {
    padding: 0 5%;
    gap: 200px;
    margin-top: 0;
  }

  .cont-principal p {
    font-size: 1.5rem;
  }

  .cont-principal img {
    height: 300px;
  }

  .informativo img {
    width: 150px;
    height: 160px;
  }
  .informativo .img-es {
    width: 110px;
    height: 150px;
  }

  .informativo .yapito-runner {
    height: 160px;
  }

  .situaciones p {
    font-size: 17px;
    max-width: 600px;
    padding-top: 50px;
  }

  .info-seguridad h3,
  .informativo > h3 {
    font-size: 34px;
  }

  .yapito-angry {
    margin-right: 5px;
  }

  .info-seguridad img {
    width: 50%;
    height: auto;
  }
  .info-seguridad p {
    font-size: 17px;
  }

  .info-seguridad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 7%;
  }
  .info-seguridad a {
    font-size: 15px;
  }

  .text-security {
    gap: 3;
  }
  .modal-image {
    width: 90px;
    margin-right: 0;
  }

  iframe {
    height: 500px;
  }
  .carousel {
    width: 50%;
    height: 520px;
  }
  .carousel button {
    width: 4%;
  }
  .modal-custom {
    width: 40%;
  }
  .modal-title {
    font-size: 1.85rem;
    margin-top: 9px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    width: 70%;
    margin-left: 0;
    margin-right: 16px;
    padding-right: 17px;
  }
}
